#jumplinks a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#jumplinks a:focus {
    position: static;
    width: auto;
    height: auto;
}

.noshow { position: absolute; top: -9999px; left: -9999px; }

#content-wrapper {
  width: 100%;
}

#content {
  background-color: white;
  margin: 20px;
  padding: 1em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  z-index: 1;
}

#two-column-content {
  background-color: white;
  margin: 20px;
  margin-left: 195px;
  padding: 1em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  z-index: 1;
}

#content h1, #content h2, #content h3, #content h4 
#left-content h1, #left-content h2, #left-content h3, #left-content h4, 
#updates-box h1, #updates-box h2, #updates-box h3, #updates-box h4  
#main-content h1, #main-content h2, #main-content h3, #main-content h4 {
  margin-top: 0.7em;
}

#main-content table {
    border: 1px solid black;
    border-collapse: collapse;
}

#main-content th, #main-content td {
    border: 1px solid black;
    padding: 5px;
}

#main-content th {
    font-weight: bold;
}

#side-menu {
  background-color: white;
  margin-left: 20px;
  padding: 1em;
  width: 135px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  z-index: 1;
  float: left;
}

#left-content {
  background-color: white;
  margin: 20px;
  padding: 1em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  z-index: 1;
  width: auto;
  overflow: hidden;
}

#updates-box {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  width: 195px;
  padding: 1em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  z-index: 1;
  float: right;
}

/*** Superfish menu default styles ***/
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu { line-height: 1.0; }
//.sf-menu ul { position: absolute; top: -999em; }
.sf-menu ul li { width: 100%; }
.sf-menu li:hover { visibility: inherit; }
.sf-menu li { float: left; position: relative; background: #000 }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { z-index: 99; }

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
        background:             #000;
        outline:                0;
}
.sf-menu a {
        display: block;
        position: relative;
        border-left:    1px solid #000;
        border-top:             1px solid #000;
        padding:                .75em 1em;        text-decoration:none;
}

#side-menu .sf-menu li { float: left; position: relative; background: white }
#side-menu .sf-menu li:hover, #side-menu .sf-menu li.sfHover,
#side-menu .sf-menu a:focus, #side-menu .sf-menu a:hover, #side-menu .sf-menu a:active {
        background:             #000;
        outline:                0;
}

#side-menu .sf-menu a {
        display: block;
        position: relative;
        border-left:    1px solid white;
        border-top:             1px solid white;
        padding:                .75em 1em;        text-decoration:none;
}


#header-logo {
    position: relative;
    float: left;
    clear: left;
    width: 100%;
    height: 50px;
    margin: 0;
}

#header-logo #logo {
    position: absolute;
    top: 9px;
    left: 20px;
}

#header-logo #main_title {
    text-decoration:none;
    font-size:1.5em;
    color: #FFE680;
}

#header-logo #subtitle {
    text-decoration:none;
    color: #C7C8FF;
}

#header-logo #search_form {
    position: absolute;
    top: 9px;
    right: 20px;
    float: right;
}

#header-main {
    position: relative;
    float: right;
    clear: none;
}

#boimhc-menu {
    padding-right: 9px;
}
#nav ul {
        float: right;
        clear: none;
}
#nav ul li {
        padding: 0 0 13px;
        border: none;
        margin: 0;
        position: relative;
        list-style-type: none;
        list-style-image: none;
        float: left;
        clear: none;
        line-height: 0.7em;
}
#nav ul li a {
        padding: 1px 7px 2px 0;
        border-right: 1px solid #000;
        margin-right: 7px;
        font-size: 0.7em;
        color: #FFF;
        font-family: Verdana, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
}
#nav ul li a:hover, #nav ul li a:focus, #nav ul li a:active {
        text-decoration: underline;
}
#nav ul li.last a {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
}
#nav ul li.separator a {
        border-right: 1px dotted #CCCCCC;
        padding-right: 9px;
        margin-right: 0px;
}
#nav ul.sf-menu li:hover a,
#nav ul.sf-menu li:focus a,
#nav ul.sf-menu li:active a,
#nav ul.sf-menu li.sfHover a {
        text-decoration: underline;
}
#nav ul.sf-menu li:hover li a,
#nav ul.sf-menu li:focus li a,
#nav ul.sf-menu li:active li a,
#nav ul.sf-menu li.sfHover li a {
        text-decoration: none;
}
#nav ul.sf-menu li.no-menu a {
        text-decoration: none;
}
#nav ul.sf-menu li.no-menu a:hover,
#nav ul.sf-menu li.no-menu a:focus,
#nav ul.sf-menu li.no-menu a:active {
        text-decoration: underline;
}

#nav ul.sf-menu li ul {
        z-index: 9998;
        height: auto;
        margin: 0;
        border: 2px solid #aaaaa1;
        background-color: #e7e7dc;
}
#nav ul.sf-menu li:hover ul.top-menu,
#nav ul.sf-menu li.sfHover ul.top-menu {
        top: 26px;
}

#nav ul.sf-menu ul li {
//        padding: 0;
//        margin: 0;
//        height: auto;
//        line-height: normal;
        border: none;
        border-bottom: 1px solid #aaaaa1;
        float: right;
        clear: none;
        background-color: transparent;
}
#nav ul.sf-menu ul li.last {
        border-bottom: none;
}
#nav ul.sf-menu ul li.decoration {
        float: left;
        clear: none;
        width: 80px;
        border: none;
        text-align: center;
        font-size: 0.8em;
        font-weight: normal;
        color: #666;
}
#nav ul.sf-menu li li a {
        text-transform: none;
        text-decoration: none;
        font-size: 0.8em;
        font-family: Arial, Verdana, Helvetica, sans-serif;
        padding: 8px 6px;
        margin: 0;
        border: none;
        background-color: transparent;
}
#nav ul.sf-menu li li a,
#nav ul.sf-menu li li a:visited {
        color: #000;
}
#nav ul.sf-menu li li a:hover, #nav ul.sf-menu li li a:focus, #nav ul.sf-menu lili a:active {
        color: #e7e7dc;
        font-weight: bold;
        background-color: #000;
}


#side-menu ul.sf-menu li a,
#side-menu ul.sf-menu li a:visited {
        color: #000;
        background-color: white;
}
#side-menu ul.sf-menu li a:hover, #side-menu ul.sf-menu li a:focus, #side-menu ul.sf-menu li a:active {
        color: white;
        background-color: #000;
}

/*
#search_form {
    padding-right: 9px;
} */

#search_query {
    border:none;
    padding: 2px 5px;
    height: 17px;
}

#search_submit {
    border: none;
    background: url(images/btn-search.png) top left no-repeat;
    width: 27px;
    height: 21px;
    text-indent: -9999px;
}

#search_submit:hover {
    background-position: center left;
    cursor: pointer;
}

#search_submit:hover {
    background-position: bottom left;
}

.low_status_bar #copyright {
    margin-left: 20px;
    float: left;
}
.low_status_bar #email_support {
    color: #FFD93E;
    float: right;
    margin-right: 20px;
}

a:focus, a:hover, a:active {
    outline: 2px solid #333333;
}

.update {
    border-top: 2px solid;
}

#updates-text{
    height: 300px;
}

#last-modified {
    text-align: right;
}

dl dt
{
    clear: left;
    float: left;
    width: 15%;
    margin: 0;
    padding: 5px;
}

dl dd
{
    margin-left: 17%;
    padding: 5px;
}

#main-content td.heading {
    font-weight: bold;
}

